@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Rubik+Wet+Paint&display=swap');

:root {
    /* Colors */
    --KB-Color-001: rgba(39, 55, 77, 1);
    --KB-Color-001-Op75: rgba(39, 55, 77, 0.75);
    --KB-Color-001-Op50: rgba(39, 55, 77, 0.5);
    --KB-Color-001-Op25: rgba(39, 55, 77, 0.25);
    --KB-Color-002: rgba(82, 109, 130, 1);
    --KB-Color-002-Op75: rgba(82, 109, 130, 0.75);
    --KB-Color-002-Op50: rgba(82, 109, 130, 0.5);
    --KB-Color-002-Op25: rgba(82, 109, 130, 0.25);
    --KB-Color-003: rgba(157, 178, 191, 1);
    --KB-Color-003-Op75: rgba(157, 178, 191, 0.75);
    --KB-Color-003-Op50: rgba(157, 178, 191, 0.5);
    --KB-Color-003-Op25: rgba(157, 178, 191, 0.25);
    --KB-Color-004: rgba(221, 230, 237, 1);
    --KB-Color-004-Op75: rgba(221, 230, 237, 0.75);
    --KB-Color-004-Op50: rgba(221, 230, 237, 0.5);
    --KB-Color-004-Op25: rgba(221, 230, 237, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@media screen and (min-width: 1200px) {

    body {
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 2vh 0vw;
        color: var(--KB-Color-001);
        background: linear-gradient(90deg, #DDE6ED 0%, #D4DFE6 10%, #9DB2BF 10%, #8097A7 25%, #526D82 25%, #435A6F 40%, #27374D 40%, #27374D 60%, #4E687D 60%, #526D82 75%, #7A92A3 75%, #9DB2BF 90%, #C3D1DA 90%, #DDE6ED 100%);
        box-shadow: 0px 0px 12.5px 2.5px #000 inset;
    }

    /* NavBar CSS */

    .NavBar {
        width: 55px;
        height: 240px;
        margin: 0.5rem 0.75rem;
    }

    .NavBar nav {
        position: absolute;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 55px;
        height: auto;
        border-radius: 75px;
        background-color: var(--KB-Color-004-Op50);
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.5);
        z-index: 101;
        transition: width 0.3s ease, border-radius 0.1s ease-out;

        &:hover {
            width: 200px;
            border-radius: 27.5px;
        }

        &:hover .NavItem {
            width: 190px;
        }
    }

    .NavBar nav .NavItem {
        display: flex;
        align-items: center;
        margin: 0 5px;
        padding-left: 14.5px;
        width: 45px;
        height: 45px;
        color: var(--KB-Color-001);
        border-radius: 22.5px;
        text-decoration: none;
        transition: width 0.3s ease;

        &:first-child {
            margin-top: 5px;
        }

        &:last-child {
            margin-bottom: 5px;
        }

        &.active {
            background-color: var(--KB-Color-004);
            color: var(--KB-Color-001);

            &:first-child {
                margin-bottom: 5px;
            }

            &:last-child {
                margin-top: 5px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin: 5px;
            }
        }

        &:hover {
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
        }
    }

    .NavBar nav svg {
        color: var(--KB-Color-001);
        width: 16px;
        height: 16px;
    }

    .NavBar nav span {
        display: none;
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: display 0.5s ease;
    }

    .NavBar nav:hover span {
        display: inline-block;
        width: auto;
    }





    /* Main Area Page-1 */

    .Main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 50px 60px;
        width: 1050px;
        height: 650px;
        border-radius: 37.5px;
        background-color: var(--KB-Color-004-Op50);
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.5);
    }

    .Main section {
        width: 930px;
        height: 550px;
    }

    .Main .Profile {
        display: block;
        text-align: center;
        color: var(--KB-Color-001);
    }

    .Main .Profile .Hey {
        font-size: 25px;
        margin-bottom: 15px;
        font-weight: 700;
    }

    .Main .Profile .MyImg {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        cursor: zoom-in;
    }

    .Main .Profile .MyName {
        font-size: 45px;
        margin: 11.5px 0 13.5px 0;
        font-family: 'Rubik Wet Paint', cursive;
    }

    .Main .Profile .MyIntro {
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    .Main .Profile .SocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Main .Profile .SocialMedia a {
        width: 50px;
        height: 50px;
        padding: 5px;
        margin: 0 8px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004-Op25);
        }
    }

    .Main .Profile .SocialMedia img {
        width: 40px;
        height: 40px;
    }


    /* ImageZoom Modal CSS */

    .Modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--KB-Color-001-Op75);
    }

    .Modal .ImageZoom {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        width: 550px;
        height: 675px;
        padding: 10px;
    }

    .Modal .ImageZoom img {
        width: 530px;
        height: 600px;
        border-radius: 25px;
        object-fit: cover;
    }

    .Modal button {
        float: right;
        color: var(--KB-Color-001);
        background-color: var(--KB-Color-004-Op75);
        font-weight: 700;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        width: 75px;
        height: 37.5px;
        margin: 5px 0;
        border: none;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004);
        }
    }



    /* Main Area Page-2 */

    .Main section h1 {
        font-size: 37.5px;
        margin-bottom: 6px;
        font-weight: 700;
    }

    .Main section .Objective_Data {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 35px;
    }

    .Edu_Cards {
        border-radius: 25px;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar-track {
            height: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar {
            height: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            height: 10px;
            margin: 0 10px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 5px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-button {
            width: 100px;
            display: hidden;
        }
    }

    .Edu_Cards .Card {
        float: left;
        display: inline-flex;
        align-items: center;
        width: 725px;
        height: 250px;
        border-radius: 25px;
        margin-right: 12.5px;
        margin-bottom: 10px;
        background-color: var(--KB-Color-004-Op50);

        &:last-child {
            margin-right: 0;
        }
    }

    .Edu_Cards .Card .Time {
        text-align: center;
        line-height: 1;
        width: 200px;
        transform: rotate(-90deg);
    }

    .Edu_Cards .Card .Time .Month {
        font-size: 37.5px;
        font-weight: 700;
    }

    .Edu_Cards .Card .Time .Year {
        font-size: 62.5px;
        font-weight: 700;
    }

    .Edu_Cards .Card .Edu_Details {
        width: 525px;
    }

    .Edu_Cards .Card .Edu_Details p {
        font-size: 20px;
    }



    /* Main Area Page-3 */

    .Skill_Cards {
        overflow-y: auto;
        height: 490px;
        border-radius: 15px;

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            width: 10px;
            border-radius: 5px;
            background-color: var(--KB-Color-004-Op50);
        }

        &::-webkit-scrollbar-thumb {
            width: 10px;
            border-radius: 5px;
            background-color: var(--KB-Color-002-Op50);
        }
    }

    .Skill_Cards .Card {
        float: left;
        width: 445px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border-radius: 15px;
        background-color: var(--KB-Color-002-Op25);
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-002-Op50);
        }
    }

    .Skill_Cards .Card .SkillImg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 75px;
        border-radius: 15px 0 0 15px;
        background-color: var(--KB-Color-002-Op50);
    }

    .Skill_Cards .Card .SkillImg img {
        width: 48px;
        height: 48px;
        object-fit: cover;
    }

    .Skill_Cards .Card .Skill_Details {
        width: 345px;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 18px 25px;
    }



    /* Main Area Page-4 */

    .Project_Cards {
        border-radius: 15px;
        height: 490px;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            width: 10px;
            margin: 0 10px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-button {
            height: 100px;
            display: hidden;
        }
    }

    .Project_Cards .Card {
        float: left;
        width: calc(33.3333333% - 10px);
        height: 200px;
        border-radius: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 5px;
        background-color: var(--KB-Color-004-Op50);
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004-Op75);
        }
    }

    .Project_Cards .Card .Details {
        text-align: center;
    }

    .Project_Cards .Card img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    form {
        margin-top: 30px;
    }

    form .Input_Group {
        display: flex;
    }

    form .Input_Field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    form .Input_Group .Input_Field:first-child {
        margin-right: 10px;
    }

    form .Input_Group .Input_Field:last-child {
        margin-left: 10px;
    }

    .Input_Field .Input {
        height: 40px;
        width: 100%;
        padding: 25px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 10px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }

    .Input_Field textarea {
        max-height: 55px;
        min-width: 100%;
        max-width: 100%;
        transition: height 0.5s ease;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 10px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
            min-height: 100px;
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    form .Button {
        margin-top: 15px;
        text-align: center;
    }

    form .Button input {
        padding: 12px 25px;
        font-size: 18px;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0);
        color: var(--KB-Color-001-Op75);
        border: 3px solid var(--KB-Color-001-Op75);
        border-radius: 10px;

        &:hover {
            background-color: var(--KB-Color-001-Op75);
            color: var(--KB-Color-004);
            border: 3px solid rgba(0, 0, 0, 0);
        }
    }
}






/* Media Queries for Tablet */

@media screen and (max-width: 1200px) and (min-width: 600px) {
    body {
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--KB-Color-001);
        background: linear-gradient(90deg, #DDE6ED 0%, #D4DFE6 10%, #9DB2BF 10%, #8097A7 25%, #526D82 25%, #435A6F 40%, #27374D 40%, #27374D 60%, #4E687D 60%, #526D82 75%, #7A92A3 75%, #9DB2BF 90%, #C3D1DA 90%, #DDE6ED 100%);
        box-shadow: 0px 0px 12.5px 2.5px #000 inset;
        width: 100vw;
        height: 100vh;
        padding: 10px;
    }

    .NavBar {
        width: 43.99px;
        height: 192.95px;
        margin: 0.4rem 0.6rem;
    }

    .NavBar nav {
        position: absolute;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 43.99px;
        height: auto;
        border-radius: 57.58px;
        background-color: var(--KB-Color-004-Op50);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 101;
        transition: width 0.3s ease, border-radius 0.1s ease-out;

        &:hover {
            width: 159.96px;
            border-radius: 22px;
        }

        &:hover .NavItem {
            width: 151.96px;
        }
    }

    .NavBar nav .NavItem {
        display: flex;
        align-items: center;
        margin: 0 4px;
        padding-left: 11.6px;
        width: 36px;
        height: 36px;
        color: var(--KB-Color-001);
        border-radius: 18px;
        text-decoration: none;
        transition: width 0.3s ease;

        &:first-child {
            margin-top: 4px;
        }

        &:last-child {
            margin-bottom: 4px;
        }

        &.active {
            background-color: var(--KB-Color-004);
            color: var(--KB-Color-001);

            &:first-child {
                margin-bottom: 4px;
            }

            &:last-child {
                margin-top: 4px;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin: 4px;
            }
        }

        &:hover {
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
        }
    }

    .NavBar nav svg {
        color: var(--KB-Color-001);
        width: 12.8px;
        height: 12.8px;
    }

    .NavBar nav span {
        display: none;
        font-size: 12px;
        font-weight: 600;
        margin-left: 12px;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: display 0.5s ease;
    }

    .NavBar nav:hover span {
        display: inline-block;
        width: auto;
    }




    /* Main Area Page-1 */

    .Main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 40px 47.98px;
        width: 839.8px;
        height: 519.87px;
        border-radius: 30px;
        background-color: var(--KB-Color-004-Op50);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .Main section {
        width: 743.81px;
        height: 439.89px;
    }

    .Main .Profile {
        display: block;
        text-align: center;
        color: var(--KB-Color-001);
    }

    .Main .Profile .Hey {
        font-size: 18px;
        margin-bottom: 12px;
        font-weight: 600;
    }

    .Main .Profile .MyImg {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
        cursor: zoom-in;
    }

    .Main .Profile .MyName {
        font-size: 32px;
        margin: 9.19px 0 10.8px 0;
        font-family: 'Rubik Wet paint', cursive;
    }

    .Main .Profile .MyIntro {
        font-size: 14px;
        margin-bottom: 24px;
        font-weight: 600;
    }

    .Main .Profile .SocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Main .Profile .SocialMedia a {
        width: 40px;
        height: 40px;
        padding: 4px;
        margin: 0 6.4px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004-Op25);
        }
    }

    .Main .Profile .SocialMedia img {
        width: 32px;
        height: 32px;
    }


    /* ImageZoom Modal CSS */

    .Modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--KB-Color-001-Op75);
    }

    .Modal .ImageZoom {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        width: 439.89px;
        height: 539.86px;
        padding: 8px;
    }

    .Modal .ImageZoom img {
        width: 423.9px;
        height: 479.88px;
        border-radius: 20px;
        object-fit: cover;
    }

    .Modal button {
        float: right;
        color: var(--KB-Color-001);
        background-color: var(--KB-Color-004-Op75);
        font-weight: 600;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        width: 60px;
        height: 30px;
        margin: 4px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004);
        }
    }



    /* Main Area Page-2 */

    .Main section h1 {
        font-size: 30px;
        margin-bottom: 4.8px;
        font-weight: 600;
    }

    .Main section .Objective_Data {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .Edu_Cards {
        overflow-x: auto;
        display: flex;
        border-radius: 20px;

        &::-webkit-scrollbar-track {
            height: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar {
            height: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            height: 8px;
            margin: 0 8px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-button {
            width: 80px;
            display: hidden;
        }
    }

    .Edu_Cards .Card {
        float: left;
        display: inline-flex;
        align-items: center;
        width: 579.85px;
        height: 200px;
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 8px;
        background-color: var(--KB-Color-004-Op50);

        &:last-child {
            margin-right: 0;
        }
    }

    .Edu_Cards .Card .Time {
        width: 160px;
        text-align: center;
        line-height: 1;
        transform: rotate(-90deg);
    }

    .Edu_Cards .Card .Time .Month {
        font-weight: 700;
        font-size: 30px;
    }

    .Edu_Cards .Card .Time .Year {
        font-size: 50px;
        font-weight: 700;
    }

    .Edu_Cards .Card .Edu_Details {
        width: 419.9px;
    }

    .Edu_Cards .Card .Edu_Details p {
        font-size: 16px;
    }



    /* Main Area Page-3 */

    .Skill_Cards {
        overflow-y: auto;
        height: 392px;
        border-radius: 20px;

        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
            width: 8px;
            border-radius: 4px;
            background-color: var(--KB-Color-003-Op25);
        }

        &::-webkit-scrollbar-thumb {
            width: 8px;
            border-radius: 4px;
            background-color: var(--KB-Color-003-Op50);
        }
    }

    .Skill_Cards .Card {
        float: left;
        width: 362.5px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px;
        border-radius: 12px;
        background-color: var(--KB-Color-002-Op25);
    }

    .Skill_Cards .Card .SkillImg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 60px;
        border-radius: 12px 0 0 12px;
        background-color: var(--KB-Color-002-Op50);
    }

    .Skill_Cards .Card .SkillImg img {
        width: 38.4px;
        height: 38.4px;
        object-fit: cover;
    }

    .Skill_Cards .Card .Skill_Details {
        width: 282.5px;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 14.4px 20px;
    }



    /* Main Area Page-4 */

    .Project_Cards {
        border-radius: 12px;
        height: 393px;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            width: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            width: 8px;
            margin: 0 8px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-button {
            height: 80px;
            display: hidden;
        }
    }

    .Project_Cards .Card {
        float: left;
        width: calc(33.3333333% - 8px);
        height: 160px;
        border-radius: 12px;
        padding: 8px 0;
        text-align: center;
        margin: 4px;
        background-color: var(--KB-Color-004-Op50);

        &:hover {
            background-color: var(--KB-Color-004-Op75);
        }
    }

    .Project_Cards .Card img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    form {
        margin-top: 24px;
    }

    form .Input_Group {
        display: flex;
    }

    form .Input_Field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 16px;
        position: relative;
    }

    form .Input_Group .Input_Field:first-child {
        margin-right: 8px;
    }

    form .Input_Group .Input_Field:last-child {
        margin-left: 8px;
    }

    .Input_Field .Input {
        height: 32px;
        width: 100%;
        padding: 20px;
        font-size: 12.79px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 8px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }

    .Input_Field textarea {
        max-height: 44px;
        min-width: 100%;
        max-width: 100%;
        transition: height 0.5s ease;
        padding: 8px 20px;
        font-size: 12.8px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 8px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
            min-height: 80px;
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    form .Button {
        margin-top: 12px;
        text-align: center;
    }

    form .Button input {
        padding: 9.59px 26.66px;
        font-size: 14.4px;
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0);
        color: var(--KB-Color-001-Op75);
        border: 2.4px solid var(--KB-Color-001-Op75);
        border-radius: 8px;

        &:hover {
            background-color: var(--KB-Color-001-Op75);
            color: var(--KB-Color-004);
            border: 2.4px solid rgba(0, 0, 0, 0);
        }
    }
}





/* Media Queries for Mobile */

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: var(--KB-Color-001);
        background: linear-gradient(90deg, #DDE6ED 0%, #D4DFE6 10%, #9DB2BF 10%, #8097A7 25%, #526D82 25%, #435A6F 40%, #27374D 40%, #27374D 60%, #4E687D 60%, #526D82 75%, #7A92A3 75%, #9DB2BF 90%, #C3D1DA 90%, #DDE6ED 100%);
    }

    /* NavBar CSS */

    .NavBar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 9vh;
        margin: 0;
    }

    .NavBar nav {
        position: absolute;
        display: flex;
        align-items: left;
        justify-content: space-between;
        width: 100%;
        height: 9vh;
        padding: 5px 20px;
        background-color: var(--KB-Color-004);
        box-shadow: 0 0 12.5px rgba(0, 0, 0, 0.5);
        z-index: 101;
    }

    .NavBar nav .NavItem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        width: 45px;
        height: 45px;
        color: var(--KB-Color-001);
        border-radius: 5px;
        text-decoration: none;

        &.active {
            background-color: var(--KB-Color-001);
        }

        &.active svg {
            color: var(--KB-Color-004);
        }
    }

    .NavBar nav svg {
        color: var(--KB-Color-001);
        width: 23px;
        height: 23px;
    }

    .NavBar nav span {
        display: none;
        font-size: 15px;
        font-weight: 600;
        margin-left: 15px;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: display 0.5s ease;
    }





    /* Main Area Page-1 */

    .Main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 30px 20px;
        width: 100vw;
        height: 91vh;
        background-color: var(--KB-Color-004-Op25);
    }

    .Main section {
        width: 100%;
        height: 100%;
    }

    .Main .Profile {
        display: block;
        text-align: center;
        color: var(--KB-Color-001);
    }

    .Main .Profile .Hey {
        font-size: 20px;
        margin-bottom: 12px;
        font-weight: 700;
    }

    .Main .Profile .MyImg {
        width: 225px;
        height: 225px;
        border-radius: 50%;
        object-fit: cover;
        cursor: zoom-in;
    }

    .Main .Profile .MyName {
        font-size: 40px;
        margin: 8px 0 11px 0;
        font-family: 'Rubik Wet Paint', cursive;
    }

    .Main .Profile .MyIntro {
        font-size: 16px;
        margin-bottom: 25px;
        font-weight: 700;
    }

    .Main .Profile .SocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Main .Profile .SocialMedia a {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0 8px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004-Op25);
        }
    }

    .Main .Profile .SocialMedia img {
        width: 35px;
        height: 35px;
    }


    /* ImageZoom Modal CSS */

    .Modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--KB-Color-001-Op75);
    }

    .Modal .ImageZoom {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        width: 88vw;
        height: 575px;
    }

    .Modal .ImageZoom img {
        width: 88vw;
        height: 500px;
        border-radius: 25px;
        object-fit: cover;
    }

    .Modal button {
        float: right;
        color: var(--KB-Color-001);
        background-color: var(--KB-Color-004-Op75);
        font-weight: 700;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        width: 70px;
        height: 35px;
        margin: 5px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-004);
        }
    }



    /* Main Area Page-2 */

    .Main section h1 {
        font-size: 30px;
        margin-bottom: 6px;
        font-weight: 700;
    }

    .Main section .Objective_Data {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 35px;
    }

    .Edu_Cards {
        border-radius: 15px;
        display: block;
        overflow-y: auto;
        padding-bottom: 6rem;

        &::-webkit-scrollbar-track {
            height: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar {
            height: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            height: 10px;
            margin: 0 10px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-button {
            width: 100px;
            display: hidden;
        }
    }

    .Edu_Cards .Card {
        float: left;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 200px;
        border-radius: 15px;
        margin-bottom: 10px;
        background-color: var(--KB-Color-004-Op75);
    }

    .Edu_Cards .Card .Time {
        text-align: center;
        line-height: 0.9;
        width: 120px;
        transform: rotate(-90deg);
        z-index: 1;
    }

    .Edu_Cards .Card .Time .Month {
        font-size: 28px;
        font-weight: 700;
    }

    .Edu_Cards .Card .Time .Year {
        font-size: 48px;
        font-weight: 700;
    }

    .Edu_Cards .Card .Edu_Details {
        width: 525px;
    }

    .Edu_Cards .Card .Edu_Details p {
        font-size: 18px;
    }



    /* Main Area Page-3 */

    .Skill_Cards {
        overflow-y: auto;
        height: 100%;
        padding-bottom: 3rem;

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track {
            width: 10px;
            border-radius: 5px;
            background-color: var(--KB-Color-004-Op50);
        }

        &::-webkit-scrollbar-thumb {
            width: 10px;
            border-radius: 5px;
            background-color: var(--KB-Color-002-Op50);
        }
    }

    .Skill_Cards .Card {
        float: left;
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border-radius: 15px;
        background-color: var(--KB-Color-002-Op25);
    }

    .Skill_Cards .Card .SkillImg {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 75px;
        height: 75px;
        border-radius: 15px 0 0 15px;
        background-color: var(--KB-Color-002-Op50);
    }

    .Skill_Cards .Card .SkillImg img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .Skill_Cards .Card .Skill_Details {
        width: 345px;
        height: 75px;
        display: flex;
        align-items: center;
        padding: 18px 20px;
    }



    /* Main Area Page-4 */

    .Project_Cards {
        border-radius: 15px;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 4rem;

        &::-webkit-scrollbar-track {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            width: 10px;
            margin: 0 10px;
            background-color: var(--KB-Color-004-Op50);
            border-radius: 5px;
        }

        &::-webkit-scrollbar-button {
            height: 100px;
            display: hidden;
        }
    }

    .Project_Cards .Card {
        float: left;
        width: calc(100% - 10px);
        height: 175px;
        border-radius: 15px;
        padding: 18px 0;
        text-align: center;
        margin: 5px;
        background-color: var(--KB-Color-004-Op50);

        &:hover {
            background-color: var(--KB-Color-004-Op75);
        }
    }

    .Project_Cards .Card img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Project_Cards .Card h2 {
        font-size: 22px;
    }

    .Project_Cards .Card p {
        font-size: 14px;
    }


    /* Form CSS Page-5 */

    form {
        margin-top: 30px;
    }

    form .Input_Group {
        display: block;
    }

    form .Input_Group .Input_Field {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Input_Field .Input {
        height: 40px;
        width: 100%;
        padding: 25px;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 10px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }
    }

    .Input_Field textarea {
        max-height: 55px;
        min-width: 100%;
        max-width: 100%;
        transition: height 0.5s ease;
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        border: none;
        border-radius: 10px;
        background-color: var(--KB-Color-001-Op75);
        color: var(--KB-Color-004);

        &:focus {
            outline: none;
            background-color: var(--KB-Color-004-Op50);
            color: var(--KB-Color-001);
            min-height: 125px;
        }

        &:focus::-webkit-input-placeholder {
            color: var(--KB-Color-001);
        }

        &::-webkit-input-placeholder {
            color: var(--KB-Color-004);
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    form .Button {
        margin-top: 15px;
        text-align: center;
    }

    form .Button input {
        padding: 12px 25px;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0);
        color: var(--KB-Color-001-Op75);
        border: 3px solid var(--KB-Color-001-Op75);
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: var(--KB-Color-001-Op75);
            color: var(--KB-Color-004);
            border: 3px solid rgba(0, 0, 0, 0);
        }
    }

    .d-KB-none{
        display: none !important;
    }
}


#Anime_Colors {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.Color1 {
    width: 100%;
    height: 30vh;
    background-color: rgba(221, 230, 237, 1);
    position: relative;
    animation-name: Start_Anime;
    animation-duration: 3s;
}

.Color2 {
    width: 100%;
    height: 40vh;
    background-color: rgba(157, 178, 191, 1);
    position: relative;
    animation-name: Start_Anime;
    animation-duration: 3s;
}

.Color3 {
    width: 100%;
    height: 50vh;
    background-color: rgba(82, 109, 130, 1);
    position: relative;
    animation-name: Start_Anime;
    animation-duration: 3s;
}

.Color4 {
    width: 100%;
    height: 60vh;
    background-color: rgba(39, 55, 77, 1);
    position: relative;
    animation-name: Start_Anime;
    animation-duration: 3s;
}

@keyframes Start_Anime {
    from {
        top: -500px;
    }

    to {
        top: 1000px;
    }
}

.text-indent{
    text-indent: 5rem;
    text-align: justify;
}